[Unit]
Description=Interstellar Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/ipbc/bin/ipbc --rpc-bind-ip 127.0.0.1 --rpc-bind-port 24182 --detach
ExecStop=/usr/local/src/ipbc/bin/ipbc exit
Restart=always
User=ipbc

[Install]
WantedBy=multi-user.target
